.profile {
margin: 0 auto;
padding: 40px 50px;
background-color: rgb(207, 232, 232);
width: 250px;
}

.description {
    padding: 25px 30px;
    background-color: rgb(238, 255, 252);
    text-align: center;
}

.avatar {
    width: 100px;
    border-radius: 50%;
    background-color: #fff;
}

.name {
    font-size: 24px;
    font-weight: 600;
}

.tag,
.location {
    font-size: 20px;
    color: gray;
}

.stats {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 15px;
}

.label {
    display: block;
    color: gray;
}

.quantity {
    display: block;
    font-weight: 600;
}